body, html {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Arial;
}

#error {
    margin-top: 50px;
}

#error h1 {
    width: 80px;
    margin: 0 auto;
    font-size: 3em;
}

#error h5 {
    width: 260px;
    margin: 0 auto;
    font-size: 2em;
}

#error p {
    margin: 10px auto;
    width: 550px;
}