body {
    font-family: Arial;
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

ul {
    margin: 10px 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 2px;
}

#container {
    width: 100%;
}

#menuChat {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 12px;
    margin: 0;
    background-color: white;
}

#inputMessage {
    width: 300px;
    height: 35px;
    font-size: 0.9em;
}

#submit {
    height: 35px;
    font-size: 0.9em;
}

#withoutBlockMessages {
    padding: 12px;
    margin: 0 0 110px 0;
    background-color: silver;
}

#content {
    background-color: white;
    min-height: 430px;
    margin: 0 auto;
}

#timeMessage {
    float: left;
    width: 250px;
    margin-left: 15px;
}

#timeMessage ul li {
    color: lightgreen;
}

#blockMessages {
    float: left;
}

#blockMessages ul li {
    list-style-type: square;
}

#welcome {
    margin-left: 40px;
}

#countUser {
    width: 100px;
    font-size: 0.5em;
}