<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Помилка:404</title>
    <link rel="stylesheet" type="text/css" href="/style/normalize.css">
    <link rel="stylesheet" type="text/css" href="/style/404.css">
</head>
<body>
    <div class="wrapper row2">
        <div id="container" class="clear">
            <section id="fof" class="clear">
                <div class="positioned">
                    <div class="hgroup">
                        <h1>Вибачте!</h1>
                        <h2>Помилка 404</h2>
                    </div>
                    <p>Сторінка, яку ви хочете бачити, не знайдена на нашому сервері</p>
                    <p>Поверніться <a href="javascript:history.go(-1)">Назад</a> або на <a href="/">Домашню сторінку</a></p>
                </div>

            </section>
        </div>
    </div>
</body>
</html>