<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Помилка:500</title>
    <link rel="stylesheet" type="text/css" href="/style/normalize.css">
    <link rel="stylesheet" type="text/css" href="/style/500.css">
</head>
<body>
    <div id="error">
        <h1>500</h1>
        <h5>Помилка сервера</h5>
        <p>Вибачте виникла помилка на сервері, спробуйте завантажити ресурс пізніше!</p>
    </div>
</body>
</html>